doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='./dummy.css')

.some-class-name
    | {% include &quot;@components/image.png&quot; with {
    | style: &apos;one-inset-small&apos;,
    | images: [
    | {
    | src: &apos;img.png&apos;,
    | alt: &apos;Image description text&apos;,
    | }
    | ]
    | } %}
script(src='./dummy.js' async='' defer='')
